@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "System Roles";
}
<div class="card">
    <div class="card-header bg-info d-flex justify-content-between align-items-center">
        <h5 class="card-title text-light">System Roles</h5>
        <div>
            <a href="@Url.Action("Create", "Roles", new { Area = "SuperAdmin" })" class="btn btn-light" title="Add a new Role"><i class="fas fa-plus"></i> Add Role</a>
            <a href="@Url.Action("Users", "Roles", new { Area = "SuperAdmin" })" class="btn btn-light" title="Manage Users"><i class="fas fa-users"></i> Manage Users</a>
        </div>
    </div>
    <ul class="list-group">
        @foreach (var role in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center border-info">
                <div>@role.Name <span class="badge badge-pill badge-primary">@role.Users.Count User(s)</span></div>
                <div>
                    <a href="@Url.Action("DisplayRoleUsers", "Roles", new { id = @role.Id })" title="Click to modify users in this Role"><span class="fas fa-users"></span></a>
                    |
                    <a href="@Url.Action("Edit", "Roles", new { id = @role.Id })" title="Click to edit this Role"><span class="fas fa-edit"></span></a>
                    |
                    <span title="Click to delete this Role" onclick="return confirm('Are you sure to delete this role?')"><a href="@Url.Action("Delete", "Roles", new { Area = "SuperAdmin", id = role.Id })"><span class="fas fa-trash"></span></a></span>
                </div>
            </li>
        }
    </ul>
    @if (TempData["ResultMessage"] != null)
    {
        <div class="card-footer text-danger">
            @TempData["ResultMessage"]
        </div>
    }
</div>
@Html.ActionLink("Manage User Role", "ManageUserRoles", new { Area = "SuperAdmin" })
